<head>
  <link rel="stylesheet" href="/static/game.css"></link>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>

<html>
  <head></head>
  <body>
    <a href="/loginPage">Login</a>
    <br/>
    <a href="/signupPage">Signup</a>
  </body>

<form method = "POST" id="loginForm" style="display:none;" action = "/loginPage">
  Username: <input id="user" type ="text" name="username"><br/>
  Password: <input id="pass" type ="password" name="password"><br/>
  <input type="submit">
</form>

</html> 

<script src = "/static/plzwork.js"></script>